NAS_MOUNT_DIR=your-nas_mount_dir
DOCKER_USER_ID=your-docker_user_id
DOCKER_GROUP_ID=your-docker_group_id
TZ=your-tz

# Portainer admin
PORTAINER_PASS=your-portainer_pass

# NAS credentials
NAS_IP=your-nas_ip
NAS_SHARE_NAME=your-nas_share_name
NAS_USERNAME=your-nas_username
NAS_PASSWORD=your-nas_password

# Ports and network
PORTAINER_PORT=your-portainer_port